<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تماس با ما</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📞 تماس با ما</h1>

    <p class="sub">
        اگر پیشنهاد یا انتقادی دارید، از طریق ایمیل با ما در ارتباط باشید.
    </p>

    <p>📧 Email: support@example.com</p>

    <br>

    <a href="/">
        <button>🏠 بازگشت به صفحه اصلی</button>
    </a>

</div>

</body>
</html>
